*{
    margin: 0;    /* While adding lots of custom styles, it is a good practice to reset the default margin and padding of all elements to ensure consistency across different browsers. */
    padding: 0;
}

body{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: #a4f1bb;
    text-align: center;
}

h1{
    color: #000000;
    font-family: "Sans Serif", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
}

#container{
    height: 70vh; /* veiwport height -> dynamic height -> 70% of visible page height will be occupied by container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board-wrapper {
    position: relative;
    height: 65vmin; /* 1% of the smaller dimension of the viewport (either width or height) */
    width: 65vmin;
     overflow: hidden;
     display: block;
}

#line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;  /* This allows clicks to pass through to buttons */
    z-index: 10;
}

#game-board{
    height: 65vmin;
    width: 65vmin;
    position: relative;
    display: flex;           
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;             
    background-color: #0c0001;
    border-radius: 1rem;
    gap: 2.5vmin;    
}

.score-player-1, .score-player-2 {
    position: absolute;
    top: 1rem;  /* distance from top */
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "Sans Serif", sans-serif;
}

.score-player-1 {
    left: 1rem; /* left corner */
    color: blue;
}

.score-player-2 {
    right: 1rem; /* right corner */
    color: red;
}

.cell{
    height: 20vmin;
    width: 20vmin;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    background-color: white;
    font-size: 8vmin;
    color:#AA0E10;
}

.gamebtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #001A23;
    color: white;
    border: none;
    border-radius: 3rem;
    font-family: "Sans Serif", sans-serif;
    width: 12vw;
}

#message{
    font-size: 8vmin;
    color: #00241B;
    font-family: "Sans Serif", sans-serif;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1.5rem;
}

.cell:hover{
    background-color: #FCD9DA;
    cursor: pointer;
    box-shadow: 0 0 1.5rem rgba(0,0,0,0.7);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.corner-cell-1{
    border-top-left-radius: 1rem;
}
.corner-cell-3{
    border-top-right-radius: 1rem;
}
.corner-cell-7{
    border-bottom-left-radius: 1rem;
}
.corner-cell-9{
    border-bottom-right-radius: 1rem;
}

.hide{
    display: none;
}